/* EDIT ANYTHING YOU WANT */
.title {
  color: black;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
}

.subtitle {
  color: black;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.max-width-1000 {
  max-width: 1000px;
}

.center {
  justify-content: center;
}

.centered {
  justify-content: center;
  align-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: auto;
}

.flex {
  display: flex;
  width: auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.state-hex {
  dominant-baseline: central;
  text-anchor: middle;
}

.state-hex-label {
  font-family: Montserrat;
  font-size: 10px;
  pointer-events: none;
}

.selected {
  fill: white;
}

.checkbox input {
  height: 20px;
  width: 20px;
}

.checkbox span {
  font-size: 20px
}


.not-enough-cols {
  align-items: center;
  display: flex;
  font-size: 40px;
  justify-content: center;
  width: 400px;
}

.description {
  max-width: 370px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.full {
  height: 100%;
  top: 0;
  width: 100%;
}

.rv-hint {
  background: lightgray;
  border-radius: 10px;
  color: white;
  font-family: Montserrat;
  font-size: 10px;
  padding: 2px;
  text-transform: uppercase;
  height: 125px;
  width: 220px;
}

.smallHint {
  background: lightgray;
  border-radius: 10px;
  color: white;
  font-family: Montserrat;
  font-size: 10px;
  padding: 2px;
  text-transform: uppercase;
  height: 75px;
  width: 175px;
}

.medHint {
  background: lightgray;
  border-radius: 10px;
  color: white;
  font-family: Montserrat;
  font-size: 10px;
  padding: 2px;
  text-transform: uppercase;
  height: 75px;
  width: 190px;
}

.dropdown-menu {
  font-family: Montserrat;
  width: 250px;
}

h1 {
  color: #f16664;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: bold;
  vertical-align: top;
  margin: 50px auto 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  color: #f16664;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  vertical-align: top;
  margin: 30px 5% 50px;
}

.text {
  color: #000000;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  margin-left: 5%;
  margin-right: 5%;}

.intro-text {
  color: #000000;
  font-family: Montserrat;
  font-weight: 300i;
  font-size: 18px;
  line-height: 2;
  margin-left: 5%;
  margin-right: 5%;
}


.hint-text {
  margin-top: 10px;
  color: #000000;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}

.hint-text-bold {
  margin-top: 10px;
  color: #000000;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
}

.margin-left-20 {
  margin-left: 20%;
}

.margin-left-10 {
  margin-left: 10%;
}

div {
  margin-left: 2.5%;
  max-width: 100%;
  margin-right: 2.5%;
}

.bottom-margin {
  margin-bottom: 50px;
}

.bottom-margin-75 {
  margin-bottom: 75px;
}

button {
  font-family: Montserrat;
  padding: 5px 15px;
  text-align: center;
  margin: 10px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

button:focus {
  background-color: lightgray;
}
